//Bakgrundsfärger
$footer-background-color: orange;
$body-background-color: rgb(251, 247, 247);
$cityInfo-background-color:lightgoldenrodyellow;


//Textfärger
$wheater-text:white;
$header-text-color: orange;

//font-size
$body-font-size: 16px;
$h1-font-size: 2em;


