@use "../abstracts/base";

footer{
    background: base.$footer-background-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:2em;
    max-width: 100%;
}